		<footer class="content-wrap-footer">
			<hr>
			© 2013 Indigo Admin by <a href="https://github.com/indigophp">Indigo</a>
		</footer>
	</div>
	<script src="../assets/js/lib/jquery.min.js"></script>
	<script src="../assets/js/lib/jquery-migrate.min.js"></script>
	<script src="../assets/js/lib/ckeditor/ckeditor.js"></script>
	<script src="../assets/js/lib/ckeditor/adapters/jquery.js"></script>
	<script src="../assets/js/lib/bootstrap.min.js"></script>
	<script src="../assets/js/lib/moment-with-langs.min.js"></script>
	<script src="../assets/js/lib/jquery.dataTables.js"></script>
	<script src="../assets/js/datatables.js"></script>
	<script src="../assets/js/admin.js"></script>
		<script type="text/javascript">
		$(document).ready(function() {
			IndigoAdmin.pageInit('http://fuel.localhost/');
			$(IndigoAdmin).on('unityready', function() {
				IndigoAdmin.displayNofitication('admin', 'Logged in successfully.', '');
			});
		});
	</script>
</body>
</html>