<tr class="filter">
	<td data-filter="text">
		<input class="form-control" name="text" placeholder="Text" type="text">
	</td>
	<td data-filter="text">
		<input class="form-control" name="text2" placeholder="Text" type="text">
	</td>
	<td data-filter="text">
		<input class="form-control" name="text3" placeholder="Text" type="text">
	</td>
	<td data-filter="select">
		<select name="select" multiple="multiple">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</select>
	</td>
	<td data-filter="select">
		<select name="select2" multiple="multiple">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</select>
	</td>
	<td data-filter="select" class="">
		<select name="select3" multiple="multiple">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</select>
	</td>
	<td data-filter="none" class="hidden-print no-sort">
		<button type="reset" class="btn btn-default">Reset filters</button>
	</td>
</tr>
<tr>
	<th>Text</th>
	<th>Text</th>
	<th>Text</th>
	<th>Select</th>
	<th>Select</th>
	<th>Select</th>
	<th style="width: 104px;"></th>
</tr>